* {
    margin: 0;
    padding: 0;
}

.clear-weather {
    background: rgb(202, 232, 255);
}

.clouds-weather {
    background: rgb(191, 210, 233);
}

.rain-weather {
    background: rgb(169, 175, 202);
}

.icon {
    display: block;
}
.weather {
    display: block;
    font-size: 22px;
    margin: 0;
}

.temp {
    font-size: 60px;
    font-weight: bold;
}

